#header {
    $header-color: #6f6f6f;
    $header-bg-color: #fff;
    $menu-bg-color: #fff;
    $menu-color: #686f7a;
    $bg-transparent: rgba(255, 255, 255, 0.8);
    .active {
        display: block !important;
    }
    a {
        cursor: pointer;
    }
    a.link {
        margin: 0 10px;
        span {
            font-size: 1em;
            color: #000;
            border-bottom: 0px solid transparent;
            transition: 0.5s;
            &:hover {
                border-bottom: 3px solid $base-color;
            }
        }
    }
    .navbar {
        background:$bg-transparent;
        @include size__320 {
            padding: .5rem 1rem;
        }
        @include size__480 {
            padding: .5rem 1rem;
        }
        @include size__768 {
            padding: .5rem 1rem;
        }
        @include size__992{
            padding: .5rem 1rem;
        }
        @include size__1200{
            padding: .5rem 1rem;
        }
        .navbar-nav {
            padding-left: 1em;
        }
        .navbar-brand {
            width: 150px;
            img {
                max-width: 100%;
            }
        }
        .navbar-toggler {
            padding: .25em;
            border: 0;
        }
        .img-profile {
            border-radius: 50%;
            height: 29px;
            width: 29px;
            margin: 0 5px;
            cursor: pointer;
            @include layout-shadow;
        }
    }
    .header_group--profile_icon {
        cursor: pointer;
        img {
            max-width: 30px;
        }
        button {
            padding: 0 !important;
        }
    }
    .btn-transparent {
        background: transparent;
        i {
            margin-top: 6px;
            font-size: 1.4em;
            color: #555;
        }
    }
    .dropdown-toggle {
        cursor: pointer;
        // font-size: 1em;
        margin: 0;
        color: #000;
        span {
            font-size: 1em;
            color: #000;
            border-bottom: 3px solid transparent;
            transition: 0.5s;
            &:hover {
                border-bottom: 3px solid $base-color;
            }
        }
        &:hover {
            background-color: transparent;
        }
    }
    .dropdown-item {
        &:hover {
            background-color: transparent;
            color: $base-color !important;
        }
    }
    .dropdown-menu {
        // background: $bg-transparent;
        // background-image: url('/static/assets/images/bg-login.png');
        // background-image: linear-gradient(to right bottom, #edf7f5, #dbf1ee, #c8eae8, #b5e4e3, #a1dde0);
        background-color: #fff;
        background-size: 100% auto;
        position: absolute;
        top: 3.1em;
        min-width: 13rem !important;
        padding: 0 !important;
        &.first {
            top: 2.6em;
        }
        &.blue {
            // background-color: #D7ECEF;
            background-color: #F7F8FA;
        }
        li {
            cursor: pointer;
            color: #000;
            font-size: 1em;
            padding: 5px 10px;
            transition: 0.3s;
            &:hover {
                color: $base-color !important;
                background-color: #eee;
            }
        }
    }
    .dropdown-toggle {
        &:hover {
            color: $base-color !important;
        }
    }
    .btn-new-tutorme, .btn-new-tutormeOra {
        font-size: 1.1em;
        font-weight: bold !important;
        padding: .2em 1em !important;
    }
}